.hero {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh; }
  .hero h4 {
    color: #e7af36; }
  .hero .hero-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(32, 32, 32, 0.55), rgba(26, 26, 26, 0.55)), url(../images/hero2.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1; }
  .hero .hero-content-area {
    color: #fff;
    overflow: hidden; }
    .hero .hero-content-area .header-info {
      display: flex;
      justify-content: space-between; }
      .hero .hero-content-area .header-info p {
        font-weight: 600; }
  .hero .hero-content-area p {
    font-size: 1rem; }
  @media (max-width: 45em) {
    .hero .hero {
      width: 100vw; }
      .hero .hero .hero-content-area .header-info {
        flex-direction: column;
        padding: 0 5%; } }
