@import "src/scss/variables";

@import "src/scss/index";
@import "src/scss/button";
@import "src/scss/header";
@import "src/scss/hero";
@import "src/scss/menu";
@import "src/scss/about";
@import "src/scss/contact";
@import "src/scss/events";
@import "src/scss/gallery";
@import "src/scss/footer";
@import "src/scss/menu-page";
@import "src/scss/drinkmenu";

html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: normal 1em "Open Sans", sans-serif;
}
/* GENERAL STYLES */
ul {
  list-style: none;
}

a {
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
}
hr {
  margin: 15px 0px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.wrapper {
  position: relative;
}
.overlay-text {
  position: absolute;
  color: $white;
  top: 35%;
  left: 0;
  right: 0;
  bottom: 0;
}
/* TEXT STYLES */
h4 {
  color: $white;
  font: bold 2.5rem "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
h5 {
  color: $white;
  font: 600 1.5rem "Open Sans", sans-serif;
  margin: 0;
}
p {
  color: $white;
  font: 300 1.2rem "Open Sans", sans-serif;
  margin: 0;
}

.title {
  font: bold 2rem "Bowlby One SC", cursive;
  text-transform: uppercase;
  text-align: center;
  color: $white;
}
